<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
        <div class="row navbar-dark bg-dark text-white pt-4 pb-4 mt-5 fixed-bottom">
            <div class="col-md-4">
                <h3>ADDRESS:</h3>
                <p>BTM LAYOUT, SHOPPER STOP, BENGALURU</p>
                <p>email : tysoi@gmail.com</p>
            </div>
            <div class="col-md-4">
                <input type="text">
                <button>Message</button>
            </div>
            <div class="col-md-4">
               <p> <h3>Connect with us :</h3>
                <i class="bi bi-facebook"></i>
              <i class="bi bi-instagram"></i>
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-whatsapp"></i></p>
            </div>

        </div>
  </body>
</html>
